localhost {
    supervisor ping google.com {
        redirect_stdout stdout
        restart_policy always
    }

    supervisor sh -c "echo Hello World {{.Replica}} Number = $NUMBER" {
        redirect_stdout stdout
        env NUMBER "{{ add 0 .Replica }}"
        restart_policy on_failure
        replicas 3
    }
}